<template>
<v-app>
    <h1 style="font-size: 40px; text-align: center;" id="Question" > Dette er et spørsmål?</h1>
       
            <v-btn color = "red" x-large block id="AnswerOne" @click="OnButtonClick()"> Answer 1</v-btn>
            <v-btn color = "blue"  x-large block id="AnswerTwo" @click="OnButtonClick()"> Answer 2</v-btn>
            <v-btn color = "green"  x-large block id="AnswerThree" @click="OnButtonClick()"> Answer 3</v-btn>
            <v-btn color = "yellow"  x-large block id="AnswerFour" @click="OnButtonClick()"> Answer 4</v-btn>
        
</v-app>
</template>

<script>
import { mapMutations,mapActions,mapState,mapGetters } from 'vuex'
let array = []
let question = []
export default {
name: 'QuestionPage',
   computed: {
       ...mapState(['error'])
   },
   methods:{
       ...mapActions(['fetchQuestions']),
       ...mapMutations(['setScore','setCurrentQuestion','addAnswer']),
       ...mapGetters(['currentQuestion','score','questions','answers']),
       /*Shuffles array, so the correct answer
       will always be assigned to a random button and
       not the same one every time*/
       shuffleArray(array) {
        for (var i = array.length - 1; i > 0; i--) {
            var j = Math.floor(Math.random() * (i + 1));
            var temp = array[i];
            array[i] = array[j];
            array[j] = temp;
        }
    },
       /*Loads everything regarding the current question when the page is loaded.
       Uses currentQuestion state to know which question the player is on*/
       LoadQuestion(){
           console.log(this.currentQuestion())
           array = JSON.parse(JSON.stringify(this.questions())).results
           console.log(array.length)
           question = array[this.currentQuestion()]
           let answers = question.incorrect_answers
           answers.push(question.correct_answer)
           this.shuffleArray(answers)

           document.getElementById("Question").innerText = question.question
           document.getElementById("AnswerOne").innerText = answers[0]
           document.getElementById("AnswerTwo").innerText = answers[1]
           document.getElementById("AnswerThree").innerText = answers[2]
           document.getElementById("AnswerFour").innerText = answers[3]
       },
       /*When one of the buttons with an answer is clicked
       we check if the answer is correct and adds to the score if it is.
       Then we update the currentQuestion state and reloads the page*/
       OnButtonClick(){
           const btnText = event.srcElement.innerText
           this.addAnswer(btnText)
           if(btnText.toLowerCase() === question.correct_answer.toLowerCase()){
               this.setScore(this.score() + 10)
           }
           if(this.currentQuestion()=== array.length -1){
               this.$router.push('/result')
           }
           this.setCurrentQuestion(this.currentQuestion()+1)
           console.log(this.currentQuestion())
           this.$router.go()
           
       }
},
// on page load
 async mounted() {
        this.LoadQuestion()
    }
}
</script>

