<template>
<v-app>
  <h1 id="score">Your Score</h1>
    <h1 style="font-size: 40px; text-align: center;" id="Question" > Your results: </h1>
    <h2 style="text-align: center;">Question - Your answer : Right answer </h2>
       <div id="results" style="text-align: center; font-size: large;margin-bottom=50px;">


       </div>
       <br>
       <br>
       <div style= "position:absolute;bottom:0%;left:35%;">
            <v-btn color = "red" large   @click="OnReplayClick()"> Replay</v-btn>
            <v-btn color = "blue" large  @click="OnMenuClick()">Back to menu</v-btn>
       </div>
        
</v-app>
</template>

<script>
import { mapMutations,mapActions,mapState,mapGetters } from 'vuex'
export default {
name: "ResultPage",
computed: {
       ...mapState(['error'])
   },
methods:{
       ...mapActions(['fetchQuestions']),
       ...mapMutations(['setScore','setCurrentQuestion','emptyAnswer']),
       ...mapGetters(['score','questions','answers']),

      /*Fills the screen with stats of the finishd game*/
       fillResults(){
         let answersArr = this.answers()
         let questions = JSON.parse(JSON.stringify(this.questions())).results
         console.log(answersArr)
         const resultList = document.getElementById("results")
         for(let i = 0 ; i < answersArr.length;i++){
           resultList.appendChild(document.createTextNode(questions[i].question + " - " + answersArr[i] + " : " + questions[i].correct_answer +  "\n"))
           var linebreak = document.createElement('br');
           resultList.appendChild(linebreak);
           
         }
       },
       /*Shows the score the player achieved
       during this game*/
       setScoreOnScreen(){
         const score = document.getElementById("score")
         score.innerText += " : " + this.score() + `/${this.answers().length *10}`
       },
       /*If the user clicks on the menu button
       he/she get sent back to the menu*/
        OnMenuClick(){
          this.resetProfile()
          this.$router.push("/")
        },
        /*If the user clicks on the replay button
       he/she plays a new game wit the same settings*/
        async OnReplayClick(){
          this.resetProfile()
          await this.fetchQuestions()
          this.$router.push("/question");
        },
        /*Resets the state regarding the finished game, like score,
        players answers etc after the game ends*/
        resetProfile(){
          this.setScore(0)
          this.setCurrentQuestion(0)
          this.emptyAnswer()
        }

    },
    // on page load
    mounted() {
          this.fillResults()
          this.setScoreOnScreen()
        }

}
</script>

<style scoped>

</style>