<template>
  <div class="start">
    <form @submit.prevent="onClickStartButton">
      <fieldset>
        <h1>Welcome to the Trivia Game</h1>
        <div class="background">
          <select id="quizCategorySelector" class="quizSelector" v-model="selectedCategory">
            <option value="">Category</option>
            <option v-for="category of categories" :value="category.index" :key="category.name">{{category.name}}</option>
          </select>
          <select id="quizDifficultySelector" class="quizSelector" v-model="selectedDifficulty">
            <option value="">Difficulty</option>
            <option v-for="difficulty of difficulties" :value="difficulty" :key="difficulty">{{difficulty}}</option>
          </select>
          <div id="amountSelector">Number of questions?</div>
          <input v-model="amountQuestions" type="text" class="quizSelectorInput" >
          <div id="player">Player name</div>
          <input v-model="playerName" type="text" >
        </div>
        
      </fieldset>
      <button type="submit">Start Quiz</button>
    </form>

  </div>
</template>


<script>
import { mapMutations,mapActions,mapState,mapGetters } from 'vuex'
export default {
  name: "StartScreen",
   computed: {
       ...mapState(['error'])
   },
  methods:{
    ...mapActions(['fetchQuestions','registerUser']),
    ...mapMutations(['setAmountQuestions','setCategoryQuestions','setDifficulty','setError','setUsername']),
    ...mapGetters(['currentQuestion','score','questions','answers']),

    /*iWhen the user hits this button he submits the form. If the user have filled 
    the most of th form the game will start*/

    async onClickStartButton(){

      if (!this.amountQuestions){
        this.setError("You need to select the amount of questions");
        return;
      }
      if (!this.playerName){
        this.setError("You need a name!");
        return;
      }
      this.setUsername(this.playerName)
      await this.registerUser()
     
      if(this.error == 'User could not be registered'){
        return;
      }

      this.setDifficulty(this.selectedDifficulty)
      this.setAmountQuestions(parseInt(this.amountQuestions))
      this.setCategoryQuestions(this.selectedCategory)
      await this.fetchQuestions()
      this.$router.push("/question");
    },
  },
  /*Sets data in the selects, like the categories and difficulties the player can select*/
  data(){
    return{
      amountQuestion:"",selectedCategory:"",selectedDifficulty:"",
      difficulties:["easy","medium","hard"],
      categories:[{name:"General knowledge",index:9},
        {name: "Entertainment: Books",index:10},
        {name:"Entertainment: Film",index:11},
        {name:"Entertainment: Music",index:12},
        {name: "Entertainment: Musicals & Theatres",index:13},
        {name: "Entertainment: Television",index:14},
        {name: "Entertainment: Video Games",index:15},
        {name: "Entertainment: Board Games",index: 16},
        {name: "Science & Nature",index: 17},
        {name: "Science: Computers",index: 18},
        {name: "Science: Mathematics",index: 19},
        {name: "Mythology",index: 20},
        {name: "Sports",index: 21},
        {name: "Geography",index: 22},
        {name: "History",index: 23},
        {name: "Politics",index: 24},
        {name: "Art",index: 25},
        {name: "Celebrities",index: 26},
        {name: "Animals",index: 27},
        {name: "Vehicles",index: 28},
        {name: "Entertainment: Comics",index: 29},
        {name: "Science: Gadgets",index: 30},
        {name: "Entertainment: Japanese Anime & Manga",index: 31},
        {name: "Entertainment: Cartoon & Animations",index: 32}
      ]
    }
  }
}
</script>

<style scoped>
.quizSelector{
  -webkit-appearance: button;
  border-style: groove;
  margin: 1%;
}
.quizSelectorInput{
  border-style: groove;
  margin: 1%;
}
#playerInput{
  border-style: groove;
  margin: 1%;
}
#startButton{
  border-style: groove;
  margin: 1%;
  background-color: lawngreen;
}
</style>
